*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__textfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  inline-size: 100%;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  inline-size: 1140px;
}

.search-form {
  display: flex;
  column-gap: 40px;
  align-items: start;
  min-block-size: 54px;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.content__list {
  position: relative;
  block-size: 298px;
  inline-size: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  cursor: pointer;
}

.result__video {
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  align-items: start;
  min-block-size: 103px;
  min-inline-size: 394px;
  padding: 2px;
}

.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 6px;
  min-block-size: 103px;
  min-inline-size: 200px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  column-gap: 5px;
  cursor: pointer;
  block-size: fit-content;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-inline-size: 225px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox {
  background-image: url(../image/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-image: url(../image/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.button {
  align-self: end;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  inline-size: 100%;
  padding-block-start: 6px;
  padding-block-end: 6px;
}

.more-button {
  inline-size: 100%;
  padding-block-start: 6px;
  padding-block-end: 6px;
}

.search-form__label:has(.search-form__label-text:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration-line: underline;
}

.search-form__label:has(.search-form__checkbox):active {
  text-decoration-line: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
  text-decoration-line: none;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
  text-decoration-line: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration-line: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:focus {
  text-decoration-line: none;
}

.content__card-link_current {
  background-color: #545050;
}